*{
    box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 100%, 74%);
  background-image: url("../images/bg-intro-desktop.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  margin: 0;
  font-size: 16px;
}

.container{
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border: 2px solid;
}

.left-container{
  width: 500px;
  max-width: 100%;
  /* margin: 100px; */
  margin: 20px;
  color: #fff;
  border: 2px solid black;
}

.left-container h1{
  font-size: 3rem;
  line-height: 1.1;
}

.left-container p{
  font-size: 15px;
  font-weight: 450;
  opacity: 0.7;
}

.right-container {
  width: 500px;
  max-width: 100%;
  margin: 20px;
  /* margin: 70px; */
  border: 2px solid;
}

.right-container button {
  width: 100%;
  /* height: 40px; */
  padding: 15px;
  color: #fff;
  border-radius: 6px;
  background-color: hsl(248, 32%, 49%);
  border: hsl(248, 32%, 49%);
  box-shadow: 0 8px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-family: inherit;
  font-size: 0.9rem;
}

.right-container button span {
  font-weight: 100;
  opacity: 0.7;
}

.form-container {
  margin-top: 20px;
  /* width: 100% */
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 8px 0px rgba(0,0,0,0.2);
}

.form-control {
  padding: 10px 0;
  position: relative;
  /* margin: 10px 0; */
}



.form-control input{
    display: block;
    width: 100%;
    /* height: 40px; */
    padding: 12px;
    border: 1.5px solid hsl(246, 25%, 77%);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.9rem;
}

.form-control.error input{
    border: hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

.form-control.error input[type="text"]::placeholder {
  opacity: 0;
}

.form-control.error input[type="password"]::placeholder {
  opacity: 0;
}

.form-control.error input[type="email"]::placeholder {
  color: hsl(0, 100%, 74%);
}

input:focus {
  border: 1.3px solid hsl(248, 32%, 49%);
  outline: none;
}


input::placeholder {
  position: relative;
  left: 15px;
}

/* .form-control i {
  position: absolute;
  top: 17px;
  right 10px;
  visibility: hidden;
}

.form-control.error i{
  visibility: visible;
} */

.form-control img {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  height: 20px;
}

.form-control.error img {
  opacity: 1;
}

.form-control small {
  position: absolute;
  right: 0;
  color: hsl(0, 100%, 74%);
  /* visibility: hidden; */
  font-style: italic;
  opacity: 0;
}

.form-control.error small{
    /* visibility: visible; */
    opacity: 1;
}

/* small {
  display: block;
  color: #bbb;
  font-size: 11px;
  font-weight: 500;
  margin-top: 20px;
} */

.form-container button{
    margin-top: 10px;
    background-color: hsl(154, 59%, 51%);
    border: hsl(154, 59%, 51%);
    text-transform: uppercase;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.form-container p{
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: 0.8rem;
}
.form-container a{
    color: hsl(0, 100%, 74%) ;
    text-decoration: unset;
    font-weight: bold;
}

.attribution {
  position: relative;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .container {
    flex-direction: column;
  }
}
